{
    "parser": "babel-eslint",
    "env": {
        "commonjs": true,
        "es6": true,
        "node": true,
        "browser": true
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "rules": {
        "indent": ["error", 4],
        "quotes": ["error", "single"],
        "semi": ["error", "always"],
        "linebreak-style": "off",
        "no-unused-vars": "off",
        "no-console": "off"
    },
    "plugins": [
        "react"
    ]
}